@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

body {
  min-width: 1180px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 1180px;
  margin: 0 auto;
}

.main-header {
  margin: 35px 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.main-header a {
  color: #000000;
  text-decoration: none;
}
.main-header .logo {
  float: left;
  display: inline-block;
}
.main-header .logo img {
  width: 94px;
  height: 23px;
}
.main-header .main-navigation {
  float: left;
  text-transform: uppercase;
  margin-left: 380px;
}
.main-header .main-navigation ul {
  font-size: 0;
}
.main-header .main-navigation li {
  display: inline-block;
  font-size: 12px;
  line-height: 20px;
  vertical-align: top;
}
.main-header .main-navigation a {
  display: block;
  padding: 7px 20px;
  text-decoration: none;
}
.main-header .main-navigation a:hover {
  color: #985e5b;
}

.user-block {
  float: right;
  max-width: 140px;
}
.user-block .search {
  display: inline-block;
  margin-top: 10px;
  margin-right: 15px;
  background: url("../img/sprite.png") no-repeat;
  width: 12px;
  height: 12px;
  background-position: -15px -57px;
}
.user-block .search::after {
  content: "";
  position: relative;
  display: block;
  right: 18px;
  top: 2px;
  width: 2px;
  height: 10px;
  background-color: #000;
}
.user-block .cart {
  display: inline-block;
  margin-top: 10px;
  margin-right: 9px;
  background: url("../img/sprite.png") no-repeat;
  width: 15px;
  height: 12px;
  background-position: -15px -15px;
}

.main-courusele .all-slider .slide-1 {
  background: url("../img/slide-1.jpg") 100% 100% no-repeat fixed;
  box-shadow: 0 0 0 448px rgba(0, 0, 0, 0.33) inset;
  width: 100%;
  height: 850px;
  background-size: cover;
}

.next,
.prev {
  display: inline-block;
  position: relative;
  bottom: 179px;
  width: 55px;
  height: 55px;
  background: none;
  box-shadow: 0 0 0 transparent;
  /* ╨Я╨░╤А╨░╨╝╨╡╤В╤А╤Л ╤В╨╡╨╜╨╕ */
  border: 2px solid white;
  background: url("../img/sprite-arrow.png") no-repeat center;
}
.next:hover,
.prev:hover {
  opacity: 0.3;
}

.next {
  background-position: 0px -115px;
}

.prev {
  background-position: -3px -174px;
}

.text-slider {
  display: inline-block;
  position: relative;
  bottom: 200px;
  float: right;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.text-slider b {
  font-size: 50px;
  word-spacing: 10px;
  color: #fff;
  letter-spacing: 10px;
}
.text-slider span {
  font-size: 30px;
  word-spacing: 12px;
  color: #985e5b;
  letter-spacing: 0;
}

.about-gallery {
  float: left;
  margin-left: 120px;
  margin-right: 80px;
  margin-bottom: 175px;
}
.about-gallery .about-photo-1 img {
  margin-left: 50px;
}
.about-gallery .about-photo-2 img {
  margin-top: -70px;
}

.about-text {
  display: inline-block;
  width: 331px;
  margin-right: 141px;
  margin-top: 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  float: right;
}
.about-text h2 {
  margin-bottom: 10px;
  font-size: 50px;
  letter-spacing: 10px;
}
.about-text b {
  font-size: 12px;
  text-transform: uppercase;
  color: #985e5b;
}
.about-text p {
  margin-top: 45px;
  font-weight: 400;
  color: #404040;
  font-size: 12px;
  line-height: 30px;
}
.about-text #up-text {
  margin-top: 20px;
  font-size: 12px;
  line-height: 30px;
}
.about-text .read-more {
  letter-spacing: 2px;
  font-weight: 700;
  margin-top: 0px;
}
.about-text .read-more a {
  text-decoration: none;
  font-size: 30px;
  color: #404040;
}

.main-lunch {
  margin-bottom: 200px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.collum-left-lunch {
  float: left;
  margin-left: 70px;
  margin-top: 155px;
  margin-right: 55px;
}
.collum-left-lunch h2 {
  margin-bottom: 10px;
  font-size: 50px;
  letter-spacing: 10px;
}
.collum-left-lunch b {
  font-size: 12px;
  text-transform: uppercase;
  color: #985e5b;
}

.collum-right-lunch {
  float: right;
  margin-right: 254px;
}
.collum-right-lunch .slider {
  position: relative;
}
.collum-right-lunch .second-slide {
  position: absolute;
  left: 103px;
  bottom: 13px;
  z-index: -1;
}
.collum-right-lunch .third-slide {
  position: absolute;
  bottom: 33px;
  left: 175px;
  z-index: -2;
}
.collum-right-lunch .fourth-slide {
  position: absolute;
  bottom: 33px;
  left: 262px;
  z-index: -3;
}
.collum-right-lunch .change {
  position: absolute;
  right: 50px;
  top: 80px;
  width: 100px;
  height: 50px;
  background-color: #edeff2;
}
.collum-right-lunch .change span {
  position: absolute;
  top: 17px;
  right: 28px;
}
.collum-right-lunch .next-slide,
.collum-right-lunch .prev-slide {
  display: inline-block;
  position: absolute;
  width: 60px;
  height: 60px;
  margin-left: -23px;
  box-shadow: 0 0 0 transparent;
  border: none;
  outline: none;
  background: #fff url("../img/sprite-arrow.png") no-repeat center;
}
.collum-right-lunch .next-slide:hover,
.collum-right-lunch .prev-slide:hover {
  background-color: #985e5b;
}
.collum-right-lunch .prev-slide {
  top: 189px;
  background-position: -2px 2px;
}
.collum-right-lunch .prev-slide:hover {
  background-position: -1px -172px;
}
.collum-right-lunch .next-slide {
  top: 127px;
  background-position: 0px -229px;
}
.collum-right-lunch .next-slide:hover {
  background-position: 4px -113px;
}
.collum-right-lunch .food-name {
  position: absolute;
  bottom: -30px;
  font-size: 15px;
}

.main-menu {
  margin-bottom: 100px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.main-menu .collum-left-menu {
  float: left;
  margin-left: 160px;
  margin-top: 24px;
  margin-right: 80px;
}
.main-menu .collum-left-menu h2 {
  margin-bottom: 10px;
  margin-right: -10px;
  font-size: 50px;
  letter-spacing: 10px;
  text-align: right;
}
.main-menu .collum-left-menu .top-menu-text {
  font-size: 12px;
  text-transform: uppercase;
  color: #985e5b;
  text-align: right;
  font-weight: bold;
}
.main-menu .collum-left-menu p {
  width: 325px;
  margin-top: 20px;
  font-weight: 400;
  text-align: right;
  letter-spacing: 2px;
  font-size: 12px;
  line-height: 30px;
  color: #404040;
}
.main-menu .collum-left-menu .read-more-menu {
  margin-top: 20px;
  font-weight: 700;
  text-align: right;
  font-size: 30px;
}
.main-menu .collum-left-menu .read-more-menu a {
  text-decoration: none;
  color: #404040;
}
.main-menu .collum-right-menu {
  position: relative;
  float: right;
  margin-right: 135px;
}
.main-menu .collum-right-menu .photo-menu-2 {
  position: relative;
  margin-top: -94px;
  margin-left: -109px;
  z-index: -1;
}

.main-quote-parallax {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin-bottom: 200px;
}

.collum-left-quote {
  float: left;
  margin-left: 115px;
}

.collum-right-quote {
  margin-right: 120px;
  float: right;
  text-align: center;
  margin-top: 256px;
}
.collum-right-quote h2 {
  width: 444px;
  font-size: 25px;
  line-height: 38px;
  letter-spacing: 2px;
  font-weight: 400;
  margin-bottom: 20px;
}
.collum-right-quote p {
  font-size: 12px;
  text-transform: uppercase;
}

.main-reservation {
  margin-bottom: 90px;
}

.collum-left-reserv {
  position: relative;
  float: left;
  margin-left: 140px;
}
.collum-left-reserv .photo-reserv-2 {
  position: absolute;
  z-index: -1;
  margin-top: -80px;
  margin-left: 55px;
}

.collum-right-reserv {
  float: right;
  margin-top: 30px;
  margin-right: 140px;
  margin-left: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.collum-right-reserv h2 {
  font-size: 50px;
  letter-spacing: 10px;
}
.collum-right-reserv p {
  width: 357px;
  text-align: left;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 2px;
  line-height: 30px;
  color: #404040;
}
.collum-right-reserv .top-reserv-text {
  margin-top: 15px;
  margin-bottom: 20px;
  font-size: 12px;
  text-transform: uppercase;
  color: #985e5b;
  font-weight: bold;
}
.collum-right-reserv .read-more-reserv {
  margin-top: 10px;
  font-weight: 700;
  font-size: 30px;
}
.collum-right-reserv .read-more-reserv a {
  text-decoration: none;
  color: #404040;
}

.main-services {
  font-family: 'Montserrat', sans-serif;
}

.services-top-content {
  text-align: center;
  margin-bottom: 185px;
}
.services-top-content h2 {
  font-size: 50px;
  letter-spacing: 10px;
  font-weight: 700;
}
.services-top-content p {
  margin-top: 15px;
  font-size: 12px;
  text-transform: uppercase;
  color: #985e5b;
  font-weight: bold;
}

.services-bottom-content {
  margin-left: 125px;
  float: left;
  margin-bottom: 130px;
}
.services-bottom-content h3 {
  display: inline-block;
  width: 258px;
  margin-right: 135px;
}
.services-bottom-content h3:last-child {
  margin-right: 0;
}

.order-now-content {
  background: url("../img/order-now.jpg") 100% 100% no-repeat;
  width: 100%;
  height: 200px;
  background-size: cover;
  text-align: center;
}
.order-now-content button {
  margin-top: 100px;
  width: 170px;
  height: 50px;
  text-transform: uppercase;
  background-color: #1e2633;
  border: none;
  outline: none;
  color: #fff;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
}
.order-now-content button:hover {
  background-color: #985e5b;
}

.main-blog {
  margin-top: 95px;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 200px;
}

.main-blog-up-title {
  text-align: center;
  margin-bottom: 55px;
}
.main-blog-up-title h2 {
  font-size: 50px;
  letter-spacing: 10px;
  font-weight: 700;
}
.main-blog-up-title p {
  margin-top: 15px;
  font-size: 12px;
  text-transform: uppercase;
  color: #985e5b;
  font-weight: bold;
}

.main-blog-bottom-news {
  position: relative;
}
.main-blog-bottom-news .blog-photo {
  margin-right: 100px;
  display: block;
  float: left;
}
.main-blog-bottom-news .blog-photo time {
  position: absolute;
  margin-left: -190px;
  margin-top: 90px;
  font-size: 14px;
}
.main-blog-bottom-news .blog-photo span {
  position: absolute;
  bottom: -140px;
  top: 146px;
  margin-left: -221px;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
}
.main-blog-bottom-news .blog-photo .read-more-blog {
  position: absolute;
  top: 210px;
  margin-left: 149px;
  font-size: 30px;
  font-weight: 700;
}
.main-blog-bottom-news .blog-photo .read-more-blog a {
  text-decoration: none;
  color: #404040;
}
.main-blog-bottom-news .blog-photo:last-child {
  margin-right: 0;
}
.main-blog-bottom-news .blog-photo:nth-child(2) span {
  margin-left: -200px;
}
.main-blog-bottom-news .blog-photo::before {
  content: "";
  position: absolute;
  display: block;
  width: 296px;
  height: 296px;
  margin-left: 15px;
  margin-top: 15px;
  background-color: #fff;
}

.main-contact {
  font-family: 'Montserrat', sans-serif;
}

.left-collum-contact {
  display: inline-block;
  margin-left: 160px;
  margin-right: 80px;
  margin-top: 35px;
}
.left-collum-contact h2 {
  margin-left: 98px;
  font-size: 50px;
  letter-spacing: 10px;
  font-weight: 700;
}
.left-collum-contact .top-contact-text {
  margin-top: 15px;
  margin-bottom: 20px;
  font-size: 12px;
  text-transform: uppercase;
  color: #985e5b;
  font-weight: bold;
}
.left-collum-contact p {
  width: 357px;
  text-align: right;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 2px;
  line-height: 30px;
  color: #404040;
}
.left-collum-contact .read-more-contact {
  margin-top: 10px;
  font-weight: 700;
  font-size: 30px;
}
.left-collum-contact .read-more-contact a {
  text-decoration: none;
  color: #404040;
}

.right-collum-contact {
  position: relative;
  float: right;
  margin-right: 65px;
}
.right-collum-contact .contact-photo-2 {
  position: absolute;
  z-index: -1;
  margin-top: -125px;
  margin-left: -109px;
}
